				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>The Bat Dog (a.k.a. Bruce)</h2>
									<p>Hi! I'm Bruce! My dad calls me bat dog. I was born in south Texas on November 27, 2016. Austin Pets Alive rescued me and I moved in with my forever home on January 31, 2017. I am so thankful for APA and my wonderful foster family for taking care of me till I could go home. Follow us to see our adventures in Austin and watch me grow up! </p>
								</section>
							</div>
							<div>
								<section>
									<h2>Follow me on ...</h2>
									<ul class="icons">
										<!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
										<!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
										<li><a href="https://www.instagram.com/thebatdogbruce/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									</ul>
								</section>
							</div>	
						</div>
						<p class="copyright">
							&copy; Ravi Patel. Design: <a href="http://html5up.net">HTML5 UP</a>.
						</p>
					</footer>

			</div>
		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.poptrox.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>