<% include ../partials/header.ejs %>
				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="images/fulls/01.jpg" class="image"><img src="images/fulls/01.jpg" alt="" /></a>
							<h2>I am free!</h2>
							<p>Gotta go expore my new home.</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/02.jpg" class="image"><img src="images/fulls/02.jpg" alt="" /></a>
							<h2>Massage Time.</h2>
							<p>I love my belly rubs.</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/03.jpg" class="image"><img src="images/fulls/03.jpg" alt="" /></a>
							<h2>Raising paw</h2>
							<p>Becase mommy says I'm the cutest</p>
						</article>
					</div>
<% include ../partials/footer.ejs %>