<% include ../partials/header.ejs %>
				<!-- Main -->
					<div id="main">

						<% for(var i=0; i<gallery_info.length; i++) { %>
							<article class="thumb">
								<a href=<%= gallery_info[i]['url']%> class="image">
									<img src=<%= gallery_info[i]['url']%> alt="" />
								</a>
								<h2><%= gallery_info[i]['title']%></h2>
								<p><%= gallery_info[i]['desc']%></p>
							</article>
						<% } %>
					</div>
<% include ../partials/footer.ejs %>