<% include ../partials/header.ejs %>
				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="images/fulls/01.jpg" class="image"><img src="images/fulls/01.jpg" alt="" /></a>
							<h2>I am free!</h2>
							<p>Gotta go expore my new home.</p>
						</article>
					</div>
<% include ../partials/footer.ejs %>